<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>简历详情</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/details.css">
    <link rel="stylesheet" type="text/css" href="css/base.css">
    <script type="text/javascript" src="js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>
<body>
<!-- 导航栏 -->
<div class="details-nav">
    <nav class="navbar navbar-inverse nav-size mar-auto" class="" role="navigation">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">简历管理平台</a>
        </div>
        <div>
            <p class="navbar-text navbar-left">简历库</p>
            <!--向右对齐-->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        UserName <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">登出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        </div>
    </nav>
</div>

<!-- 主体部分，即简历查看页面的显示 -->
<div class="details-look mar-auto">
    <!-- 基本信息 -->
    <div class="info-base">
        <p class="base-name">张三</p>
        <ul class="clear-float">
            <li class="float-l">Android开发</li>
            <li class="float-l">西安XXX软件有限公司</li>
        </ul>
        <ul class="clear-float">
            <li class="float-l">男</li>
            <li class="float-l">28岁</li>
            <li class="float-l">本科</li>
            <li class="float-l">5年工作经验</li>
            <li class="float-l">西安</li>
        </ul>
        <ul class="clear-float">
            <li class="float-l">15809237114</li>
            <li class="float-l">15809237114@163.com</li>
        </ul>
    </div>
    <!-- <div class="float-r"><a href="#">编辑</a></div>
    <div style="clear: both;"> -->
    <hr/>
    <!-- 工作经历 -->
    <div class="info-work clear-float">
        <div class="work-title float-l"><span class="span-style font-size-16">工作经历</span></div>
        <div class="work-content float-l">
            <ul class="clear-float font-size-16">
                <li class="float-l">西安ABC软件有限公司</li>
                <li class="float-r">2016-至今</li>
            </ul>
            <span class="span-style">Android开发</span>
            <p>
                1) guuyjgukguigiugik<br/>
                2) guuyjgukguigiugik<br/>
                3) guuyjgukguigiugik<br/>
                4) guuyjgukguigiugik<br/>
            </p>
        </div>
    </div>
    <hr/>
    <!-- 项目经验 -->
    <div class="info-project clear-float">
        <div class="project-title float-l"><span class="span-style">项目经验</span></div>
        <div class="project-content float-l">
            <ul class="clear-float font-size-16">
                <li class="float-l">西安ABC软件有限公司</li>
                <li class="float-r">2016-至今</li>
            </ul>
            <span class="span-style">Android开发</span>
            <p>
                1) guuyjgukguigiugik<br/>
                2) guuyjgukguigiugik<br/>
                3) guuyjgukguigiugik<br/>
                4) guuyjgukguigiugik<br/>
            </p>
        </div>
    </div>
    <hr/>
    <!-- 教育经历 -->
    <div class="info-education clear-float">
        <div class="education-title float-l"><span class="span-style">教育经历</span></div>
        <div class="education-content float-l">
            <ul class="clear-float font-size-16">
                <li class="float-l">西安交通大学</li>
                <li class="float-r">2011年毕业</li>
            </ul>
            <span class="span-style">本科</span>&nbsp;<span class="span-style">软件工程</span>
        </div>
    </div>
</div>
</body>
</html>